
# standard Xcode and Mac cruft
build/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
.DS_Store

# test output file
ocunit.xml

# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
